<h1>Login to Private Event</h1>

<%= form_for :login do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>
  </div>
  <div>
    <%= f.submit "Log In" %>
  </div>
<% end %>